.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.profile img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    object-fit: cover; 
}

.profile h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.profile h1 span{
    background: linear-gradient(270deg, lightblue, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile p{
    width: 60%;
    text-align: start;
    font-size: 24px;
    line-height: 40px;
}

.profile-action{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.profile-action img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
